* {
	margin: 0;
	padding: 0;
}

.form-control {
	width: 150px;
	display: inline-block !important;
}

#all_options {
	width: 150px;
	height:32px;
}

.input_div {
	display: inline-block !important;
	width: 210px;
	
}

.input_div input {
	width: 150px !important;
	height: 32px;
}

.After_div {
	display: inline-block !important;
}
.Atfer_li{
	background-color:#425164;
}

.btn-primary {
	background-color: whitesmoke;
	height: 28px;
	width:48px;
	background-color: #42A5F5;
	text-align: center;
}

.table th,
tbody {
	text-align: center;
}
.table td{
	max-width:200px;
	overflow:hidden;
}
.table button{
	width:25px;
	height:25px;
	margin-left:5px;
}
.title {
	height: 1px;
	border-top: 1px solid #CDCDCD;
	height: 20px !important;
	text-align: center;
}

.title td {
	position: relative;
	left: -3%;
	top: -10px;
	background: #fff;
	padding: 0 20px;
	font-size: 18px;
	color: #42A5F5;
}

.tab {
	width: 100% !important;
	table-layout: fixed !important;
}

.tab tr {
	height: 35px !important;
}
#info_modal .modal-lg{
	background:white;
	width:800px;
}
#page a:hover {
	cursor: pointer;
}