*{
	margin:0;
	padding:0;
}
#modal-content{
padding:0;
}
.modal-lg{
	width:65%;
}

.tab_content{
	width:100%;
	max-height: calc(100vh - 15.6rem);
overflow: auto;
}
.group-list{
	width:100%;
	height:60px;
	padding-left:10px;
	background: rgba(0,0,0,.015);
border: 1px solid rgba(0,0,0,.04);
}
.group-list input{
	margin-top:25px;
}
#check ul:first-child{
	color:#42a5f5;

}
.group-list input[type=checkbox]{
	outline:0;
	
}
.group-list li{
	width:20%;
	height:60px;
	line-height:60px;
	float:left;
	list-style:none;
	
}